body {
  margin: 0;
  font-family: Typo-round, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing:border-box;
  background:white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
	@font-face {
	font-family:Typo-round;
	src:url('./Typo_Round_Bold_Demo.otf');
    }
}
h1 {
	font-size: 40px;
}
button {
	padding:5px;
	margin:7px;
	color:white;
	border-radius:20px;
	background:#0000CD;
	font-weight:bolder;
	border:none;
	height:40px;
	min-width:100px;
}
button a {
	color:white;
	text-decoration:none;
}
header button {
	margin-left:30px;
	border:2px groove white;
	background:blue;
}
input {
	display:block;
	border:2.5px groove black;
	padding:8px;
	margin:5px 0px;
	border-radius:10px;
}
#root > div > header {
	grid-area:header;
	top:0;
	position:relative;
	width:100%;
	background:#0000CD;
	color:white;
	display:flex;
	padding-left:5px;
	margin-bottom:20%;
	align-items:center;
}
#root > div > section > div, #root > div > section {
	grid-area:div;
	display:flex;
	flex-direction:column;
	align-items:center;
}
#root > div {
	display:grid;
	grid-template-columns:3% auto 3%;
	grid-template-areas:'header header header' '. div .'
}
.green {
	color:green;
}
.bold {
	font-weight:bolder;
}
#displayQuestions {
	grid-area:div;
	display:flex;
	align-items:stretch; 
	justify-content:space-around;
}

@media screen and (min-height:650px) {
	#root > div > header {
		margin-bottom:8%;
	}
}